﻿<h1>Bonjour {{currentUser.firstName}}</h1>
<p>Vous êtes connecté avec jwt token</p>
<h3>liste des utilisateurs enregistrés : <source media="(min-width: )" srcset="">:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Supprimer</a>
    </li>
</ul>>